
<div class="row d-flex justify-content-center" style="text-align: center; margin-bottom: 8px;" container="body">
    <h2 *ngFor="let job of picked; let i = index" class="col-md-6" [tooltip]="job_tooltip" container="body"  style="font-weight: bold;">
        {{ job.name }}
        <fa-icon (click)="remove(i)" style="cursor: pointer" [icon]="faCircleXmark"></fa-icon>
        <ng-template #job_tooltip>{{job.description}}</ng-template>
    </h2>
</div>

<div *ngIf="picked.length > 0" class="row">
    <label>
        Feats: <ng-container *ngFor="let f of computedProgression?.feats">+{{ f }} </ng-container> 
        <ng-container *ngIf="computedProgression.arts != null">, Arts: {{ computedProgression.arts }}</ng-container>
        <ng-container *ngIf="computedProgression.spellslots != null">, Spells Prepped: {{ computedProgression.spellsprep }}, Spell Slots:  {{ computedProgression.spellslots }}</ng-container>
        <ng-container *ngFor="let job of picked; let i = index"><ng-container *ngIf="job.bonusskill">, Add/ Train {{ job.bonusskill.name }} Skill</ng-container></ng-container>
    </label>
</div>

<!--<div *ngIf="picked.length > 0 && computedProgression.arts != null" class="row">
    <label>Arts: {{ computedProgression.arts }} </label>
</div>

<div *ngIf="picked.length > 0 && computedProgression.spellslots != null" class="row">
    <label>Spells Prepped: {{ computedProgression.spellsprep }}, Spell Slots:  {{ computedProgression.spellslots }}</label>
</div>-->

<div class="row" *ngFor="let job of picked; let i = index">
    <ng-container *ngFor="let f of job.feats">
        <label class="thick" style="font-weight: bold;"> {{ f.name }} </label>
        <p> {{ f.description }} </p>
    </ng-container>
</div>

<label *ngIf="picked.length > 0" class="thick" style="font-weight: bold;">Class Features: </label>

<div *ngIf="picked.length > 0 && picked[0].artstype != null" class="row">
    <feat-picker [label]="picked[0].name + ' ' + 'Arts'" [feats]="computeSupernatural(picked[0].artstype)"></feat-picker>
</div>

<div *ngIf="picked.length > 0 && picked[0].spelltype != null" class="row">
    <feat-picker [label]="picked[0].name + ' ' + 'Spells'" [feats]="computeSupernatural(picked[0].spelltype)"></feat-picker>
</div>

<div *ngIf="picked.length > 1 && picked[1].artstype != null" class="row">
    <feat-picker [label]="picked[1].name + ' ' + 'Arts'" [feats]="computeSupernatural(picked[1].artstype)"></feat-picker>
</div>

<div *ngIf="picked.length > 1 && picked[1].spelltype != null" class="row">
    <feat-picker [label]="picked[1].name + ' ' + 'Spells'" [feats]="computeSupernatural(picked[1].spelltype)"></feat-picker>
</div>