<div class="row" style="text-align: center">
    <h2 style="margin-bottom: 0px;">Feats</h2>
</div>

<div class="btn-group row d-flex justify-content-center" dropdown>
    <button id="button-basic" dropdownToggle type="button" class="btn dropdown-toggle" aria-controls="dropdown-basic" style="padding: 0px;"><span class="caret"></span> </button>
    <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="button-basic">
        <li role="menuitem" *ngFor="let feat of feats" [tooltip]="feat_tooltip" container="body">
            <a (click)="train(feat)" class="dropdown-item" href="#">{{feat.name}}</a>
            <ng-template #feat_tooltip>{{feat.description}}</ng-template>
        </li>
    </ul>
</div>
<div class="row d-flex justify-content-center" style="text-align: center; margin-bottom: 8px;" container="body" *ngFor="let feat of picked; let i = index">
    <label class="thick" style="font-weight: bold;">{{ feat.name }} <span (click)="remove(i)" style="cursor: pointer">X</span></label>
    <p>Add/ Train {{ feat.skill.name }} Skill</p>
    <p>{{ feat.description }}</p>
</div>